---
layout: archive
---

{{ content }}

<style>
  /* General Reset and Spacing */
  body {
    margin: 0;
    padding: 0;
  }

  h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  p {
    margin: 5px 0;
    font-size: 13pt;
    line-height: 1.4;
  }

  hr {
    margin: 5px 0 15px 0;
    border: none;
    height: 1px;
    background: #000;
  }

  .section {
    margin-bottom: 30px; /* Add space after each section */
  }

  .ul-edu {
    margin: 0;
    padding-left: 20px;
  }

  .ul-edu li {
    margin-bottom: 10px;
  }

  .description p {
    margin: 2px 0;
  }

  .col-md-7 {
    width: 1000px;
  }

  .quote {
    display: block;
    font-style: italic;
    font-size: 15px;
    text-align: right;
    margin-top: 10px;
  }
</style>

<!-- ===== About Me ===== -->
<div class="section">
  <h3>About me</h3>
  <hr>

  <p>
    Hello, I am a 3rd year MS by Research student in <a href="https://www.cse.iitb.ac.in/">CSE Department</a> at IIT Bombay.
    I have completed my B.Tech. in Information Technology from Techno India, Kolkata.
    I love learning about systems/components that are present at the lowest layer of abstraction in the computing stack, from devising efficient compiler optimisations to pushing the boundaries in high performing and secure processor design.
  </p>
  <p>
    <!--My research interests include topics related to Computer Architecture, Compilers and Operating Systems.--> My current work is focused on securing against Transient execution based microarchitectural attacks for end-to-end memory hierarchy;
    guided by Prof. <a href="https://www.cse.iitb.ac.in/~biswa">Biswabandan Panda</a> as part of the <a href="https://casper-iitb.github.io/">CASPER</a> research group.
  </p>

  <p>
    Besides academics, I love following world geopolitics, cricket and chess. I also firmly believe in sustainable development of the planet
    Earth through education and awareness, so that we can curb the effects of climate change.
  </p>

  <span class="quote">“I’m sure the moment we start behaving as if we were in an emergency, we can avoid climate and ecological catastrophe.” – <strong>Greta Thunberg</strong></span>
</div>

<!-- ===== Educational Journey ===== -->
<div class="section">
  <h3>Educational journey</h3>
  <hr>

  <div class="col-md-7">
    <ul class="ul-edu fa-ul">
      <li>
        <i class="fa-li fas fa-graduation-cap"></i>
        <div class="description">
          <p class="course"><strong>MS by Research in Computer Science</strong></p>
          <p class="course">2023 – *</p>
          <p class="institution"><a href="https://www.iitb.ac.in">Indian Institute of Technology, Bombay</a></p>
        </div>
      </li>

      <li>
        <i class="fa-li fas fa-graduation-cap"></i>
        <div class="description">
          <p class="course"><strong>B.Tech in Information Technology</strong></p>
          <p class="course">2016 – 2020</p>
          <p class="institution"><a href="https://www.ticollege.ac.in/">Techno Main Salt Lake, Kolkata</a></p>
        </div>
      </li>

      <!--<li>
        <i class="fa-li fas fa-graduation-cap"></i>
        <div class="description">
          <p class="course"><strong>Higher Secondary School</strong></p>
          <p class="course">2014 – 2016</p>
          <p class="institution"><a href="http://davbsebpatna.org/">DAV Public School</a></p>
        </div>
      </li> -->
    </ul>
  </div>
</div>

<!-- ===== Career Trip ===== -->
<div class="section">
  <h3>Career trip</h3>
  <hr style="width: 500px;">

  <div class="col-md-7">
    <ul class="ul-edu fa-ul">
      <li>
        <i class="fa-li fas fa-briefcase"></i>
        <div class="description">
          <p class="course"><strong><a href="https://www.wipro.com/">Wipro Pvt. Ltd.</a></strong></p>
          <p class="institution">Project Engineer, 2020 – 2022</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- ===== Courses Taken ===== -->
<div class="section">
  <h3>Credit courses taken at IITB</h3>
  <hr>

  <div class="col-md-7">
    <ul class="ul-edu fa-ul">
      <li>
        <i class="fa-li fas fa-clipboard"></i>
        <div class="description">
          <p class="course">Advanced Computer Architecture</p>
          <p class="institution">Autumn '23</p>
        </div>
      </li>

      <li>
        <i class="fa-li fas fa-clipboard"></i>
        <div class="description">
          <p class="course">Design & Engineering of Computer Systems</p>
          <p class="institution">Autumn '23</p>
        </div>
      </li>

      <li>
        <i class="fa-li fas fa-clipboard"></i>
        <div class="description">
          <p class="course">Embedded Systems</p>
          <p class="institution">Spring '24</p>
        </div>
      </li>

      <li>
        <i class="fa-li fas fa-clipboard"></i>
        <div class="description">
          <p class="course">Topics in Virtualization and Cloud Computing</p>
          <p class="institution">Spring '24</p>
        </div>
      </li>

      <li>
        <i class="fa-li fas fa-clipboard"></i>
        <div class="description">
          <p class="course">Advanced Compilers</p>
          <p class="institution">Spring '25</p>
        </div>
      </li>

      <li>
        <i class="fa-li fas fa-clipboard"></i>
        <div class="description">
          <p class="course">Privacy Enhancing Technologies</p>
          <p class="institution">Spring '25</p>
        </div>
      </li>

      <li>
        <i class="fa-li fas fa-clipboard"></i>
        <div class="description">
          <p class="course">Program Analysis</p>
          <p class="institution">Autumn '26</p>
        </div>
      </li>

      <li>
        <i class="fa-li fas fa-clipboard"></i>
        <div class="description">
          <p class="course">Systems for Machine Learning</p>
          <p class="institution">Spring '26</p>
        </div>
      </li>

      <li>
        <i class="fa-li fas fa-clipboard"></i>
        <div class="description">
          <p class="course">Code Optimization for OO Languages</p>
          <p class="institution">Spring '26</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- ===== Blog Archive ===== -->
{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
